#app-content {
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

#turing-canvas {
    height: 80px;
    width: 100%;
}
#turing-output {
    width: 100%;
    margin-bottom: 5px;
}

#turing-controls {
    width: 100%;
    height: 2em;
    padding: 5px;
    max-width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    font-size: 24px;
}
.turing-control {
    line-height: 1.5em;
    background-color: transparent;
    color: inherit;
    border: 2px solid currentColor;
    border-radius: 1em;
    padding: 3px 5px 3px 5px;
    overflow: hidden;
    transition: background-color 150ms ease-in-out, color 150ms ease-in-out;
    font-size: revert;
}
.turing-control + .turing-control {
    margin-left: 5px;
}
.turing-control[active] {
    background-color: var(--color-brand);
    color: var(--color-text);
}
.turing-control:hover {
    background-color: var(--color-shade);
}
.turing-control:disabled {
    background-color: rgba(0, 0, 0, 0.5);
    color: var(--color-shade);
}
.turing-control:disabled[active] {
    background-color: #202d0a;
    color: var(--color-shade);
}

.turing-help {
    cursor: help;
}
#turing-inputs {
    /* grid-template-areas: "label input" "editor-label editor-label" "editor editor"; */
    padding: 5px;
    overflow-y: auto;
    overscroll-behavior: contain;
    flex: 1;
    display: flex;
    flex-direction: column;
}
#turing-transitions {
    width: 100%;
    min-height: 20em;
    flex: 1;
    height: 100%;
}


.turing-notif, .turing-notif:hover {
    background-color: #db4325;
    cursor: default;
}
.turing-notif:not([active]) {
    max-width: 0px;
    padding: 0px;
    overflow: hidden;
}
.turing-notif[collapsed] .label {
    max-width: 0px;
}
#turing-menubar button.menubar-item:disabled .label {
    max-width: 0px;
}

#turing-transitions-table .

@media (pointer: coarse) {

}
@media (pointer: coarse), (hover: none) {
    .turing-control:hover {
        min-width: fit-content;
    }
    .turing-control:hover .label {
        max-width: 100%;
        min-width: fit-content;
    }
}
@media (max-width: 450px) {
    .turing-control .label {
        max-width: 0px;
    }
}