input, textarea {
    outline: none;
    background-color: var(--color-shade);
    border: none;
    padding: 3px;
}

button {
    display: inline-flex;
    background-color: var(--color-brand);
    color: var(--color-text);
    align-items: center;
    user-select: none;
}
.text-wrap {
    display: block;
    flex: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.text-wrap > * {
    display: inline;
    vertical-align: middle;
    line-height: 1em;
    font-size: 1em;
}

svg {
    display: inline;
    fill: currentColor;
    height: 1.5em;
    max-width: 100%;
}

#turing-list-Z {
    flex-wrap: wrap;
}
#turing-list-Z-empty {
    margin-top: 5px;
    font-style: italic;
    color: var(--color-shade);
}
#turing-output {
    color: var(--color-text);
    background-color: var(--color-shade);
    margin-bottom: 5px;
}
#turing-list-Z>div {
    padding: 2px;
    background-color: var(--color-brand);
    color: #ffffff;
    min-width: 20px;
    border-radius: 7.5px;
    text-align: center;
    margin: 2px;
}
.turing-list-input {
    margin-left: 2px;
    outline: none;
}

.table {
    display: table;
}
.table .row {
    display: table-row;
}
.table .row > * {
    display: table-cell;
}

.control {
    height: 45px;
    padding: 3px;
    box-sizing: border-box;
    font-size: 0.9em;
    max-width: 100%;
    overflow-x: overlay;
}

.control > button {
    outline: none;
    background-color: transparent;
    color: inherit;
    border: 2px solid currentColor;
    border-radius: 10px;
    padding: 3px 5px 3px 5px;
    text-overflow: ellipsis;
    flex-wrap: nowrap;
    height: 100%;
    transition: background-color 150ms ease-in-out, color 150ms ease-in-out;
    cursor: pointer;
    font-size: 1em;
    white-space: nowrap;
    overflow: hidden;
}

.control > button+button {
    margin-left: 5px;
}

.control > button[active] {
    background-color: var(--color-brand);
    color: var(--color-text);
}
.control > button:hover {
    background-color: var(--color-shade);
}

.control > button:disabled {
    background-color: rgba(0, 0, 0, 0.5);
    color: var(--color-shade);
}

.grid {
    display: grid;
    grid-template-areas: "a a";
    grid-template-columns: min-content;
}
.grid-c {
    display: contents;
}

